# Elastic Beanstalk Configuration for Django

branch-defaults:
  default: production
environment-defaults:
  production:
    instance_type: t2.micro
global:
  application_name: turismo-django
  default_ec2_keyname: null
  default_platform: Python 3.9
  default_region: us-east-1
  include_git_submodules: true
  instance_profile: null
  platform_name: null
  platform_version: null
  repository: null
  sc: git
  workspace_type: Application
